{%- comment -%}
  country-localization.liquid (CA + US only)
{%- endcomment -%}
{%- liquid
  assign currencies = localization.available_countries | map: 'currency' | map: 'iso_code' | uniq
  assign canada = localization.available_countries | where: 'iso_code', 'CA' | first
  assign unitedstates = localization.available_countries | where: 'iso_code', 'US' | first
-%}

<div class="disclosure">
  <button
    type="button"
    class="disclosure__button localization-form__select localization-selector link link--text caption-large"
    aria-expanded="false"
    aria-controls="{{ localPosition }}-country-results"
    aria-describedby="{{ localPosition }}Label"
  >
    <span>
      {{ localization.country.name }}
      ( {{ localization.country.currency.symbol }} )
    </span>
    {% render 'icon-caret' %}
  </button>

  <div class="disclosure__list-wrapper country-selector" hidden>
    <div class="country-filter country-filter--no-padding">
      <button
        class="country-selector__close-button button--small link"
        type="button"
        aria-label="{{ 'accessibility.close' | t }}"
      >
        {% render 'icon-close' %}
      </button>
    </div>

    <div id="sr-country-search-results" class="visually-hidden" aria-live="polite"></div>

    <div class="disclosure__list country-selector__list" id="{{ localPosition }}-country-results">
      <ul role="list" class="list-unstyled countries">
        {%- comment -%} Render Canada first if available {%- endcomment -%}
        {%- if canada -%}
          <li class="disclosure__item" tabindex="-1">
            <a
              class="link link--text disclosure__link caption-large focus-inset"
              href="#"
              data-value="{{ canada.iso_code }}"
              id="{{ canada.name }}"
              {% if canada.iso_code == localization.country.iso_code %}aria-current="true"{% endif %}
            >
              <span {% if canada.iso_code != localization.country.iso_code %}class="visibility-hidden"{% endif %}>
                {%- render 'icon-checkmark' -%}
              </span>
              <span class="localization-form__currency motion-reduce">
                {{ canada.name }}({{ canada.currency.symbol }}) 
              </span>
            </a>
          </li>
        {%- endif -%}

        {%- comment -%} Then United States if available {%- endcomment -%}
        {%- if unitedstates -%}
          <li class="disclosure__item" tabindex="-1">
            <a
              class="link link--text disclosure__link caption-large focus-inset"
              href="#"
              data-value="{{ unitedstates.iso_code }}"
              id="{{ unitedstates.name }}"
              {% if unitedstates.iso_code == localization.country.iso_code %}aria-current="true"{% endif %}
            >
              <span {% if unitedstates.iso_code != localization.country.iso_code %}class="visibility-hidden"{% endif %}>
                {%- render 'icon-checkmark' -%}
              </span>
              <span class="localization-form__currency motion-reduce">
                {{ unitedstates.currency.iso_code }} {{ unitedstates.currency.symbol }} | {{ unitedstates.name }}
              </span>
            </a>
          </li>
        {%- endif -%}
      </ul>
    </div>
  </div>
</div>

<input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
