{%- comment -%}
  Renders the language picker for the localization form

  Accepts:
    - localPosition: pass in the position in which the form is coming up to create specific IDs
{%- endcomment -%}
{% form 'localization' %}
  
{%- assign cad_countries = localization.available_countries | where: 'currency.iso_code', 'CAD' -%}
  {%- if cad_countries.size > 0 -%}
    <div class="disclosure">
      <button
        type="button"
        class="disclosure__button localization-form__select localization-selector link link--text caption-large focus-inset"
        aria-expanded="false"
        aria-controls="{{ localPosition }}CurrencyList"
      >
        <span>
          {{ localization.country.name }} ({{ localization.country.currency.iso_code }})
        </span>
        {% render 'icon-caret' %}
      </button>

      <div class="disclosure__list-wrapper" hidden>
        <ul id="{{ localPosition }}CurrencyList" class="disclosure__list list-unstyled">
          {%- for country in cad_countries -%}
            <li class="disclosure__item">
              <button
                class="link link--text disclosure__link caption-large focus-inset"
                type="submit"
                name="country_code"
                value="{{ country.iso_code }}"
                {% if country.iso_code == localization.country.iso_code %}aria-current="true"{% endif %}
              >
                <span>{{ country.name }} ({{ country.currency.iso_code }})</span>
              </button>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  {%- endif -%}

{% endform %}
